@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

// Font
$font-family: 'Proxima Nova', sans-serif;

// Colors
$color-primary: #0049FF;
$color-background: #050407;
$color-background-alt: #0C0C0F;
$color-error: #FB074C;
$color-success: #1DC73D;

// Other
$border-radius: 8px;
$padding: 20px;
$padding-layout: 20px 40px;
$menu-width: 260px;
